@import 'https://fonts.googleapis.com/css?family=Cuprum';
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

html, body {
	width: 100%;
	height: 200%;
	margin: 0px;
	padding: 0px;
	overflow: hidden; 
	background: linear-gradient(to bottom right, white, #F7BE81);
	font-family: 'Cuprum', sans-serif;
	padding-top: 1%;
	min-width: 375px;

}

footer{
	margin-top: 3%;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	color: red;
}



.menu {

	color: green;

}

.menu h1 {
		font-family: 'Kaushan Script', cursive;
			display: inline;
			color:	#ffd631;
}
.boutondecouverte {
	font-size: 25px;
	font-family: 'Cuprum', cursive;
	border:none;
	transition: background-color 1s ease;
	margin: auto;
	padding-bottom: auto; 
	display: block;
	height:35px;
	width: 200px;
	background: #4CB953;
	border-radius: 10px;
	text-align: center;
	color: white;
	letter-spacing: 1px;

}
.boutondecouverte:hover {
	background: green;
}



.banniere {
	width: 80%;
	height: 12%;

	margin-left: 10%;
	border-top-left-radius:0.5em;
	border-top-right-radius:4em;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:4em;
}

a {
	text-decoration: none;
	color: inherit;
}

.menu li:hover {
	background-color: #F7BE81;

}
.menu li {
	transition: background-color 1s ease;
	display: inline-block;
	text-align: center;
	margin-right: 50px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 20px;
}
.nav {
	float: right;

}

.intro p {
	color: black;
	text-align: center;
	font-size: 20px;
	margin-bottom: 5%;
	margin-top: 5%;
}

.second {
	margin-top:8%;
	margin-left:5%;
}
.second_ville{
	margin-top:5%;
	margin-right:8%;
}

table {
	margin-left: 12%;	
}
td {
	width: 340px;
	height: 75%;
	margin: 0;
}

td h2 {
	text-align: center;
	font-size: 20px;
}
td img {
	width: 100%;
	height: 28%;
	border-radius: 0.4em 2em 0.4em 2em;
}

table td {
	padding-left: 2%;
	padding-right: 2%;
	background: linear-gradient(to bottom right, white, #F7BE81);
	border-radius: 2em;
}

#tarif{
	margin-left: 0%;
	margin-top: 5%;
	width: 100%;
	color: red;
}







